body {
  max-width: 320px;
  margin: auto;
  background-color: #2E2424;
  border: 0.25px solid #688D82;
}

img {
  display: block;
  max-width: 100%;
}

nav div {
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-between;
  margin: 20px 0;
}

.item {
  background-color: #688D82;
  padding: 4px 10px;
  border-radius: 5px;
}

hr {
  border: 0.25px solid #DBAE6B;
}

h1 {
  font-family: "madrone-std", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 20px 20px;
  color: #DBAE6B;
  letter-spacing: 2px;
  line-height: 30px;
}

h2 {
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 25px;
  text-align: end;
  margin: 0 20px 20px 0;
  color: #688D82;
}

.color-change-1 {
  color: #688D82;
}

.color-change-2 {
  color: #DBAE6B;
}

main p {
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 20px;
  color: #DBAE6B;
}

.legend {
  font-family: "oswald", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 1px;
}

.link {
  background-color: #688D82;
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #688D82;
  padding: 4px 5px;
  border-radius: 5px;
  display: block;
  text-align: center;
}

.png {
  margin: 20px;
  width: 90%;
}

footer {
  font-family: "oswald", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  color: #DBAE6B;
  line-height: 0.1em;
  margin: 20px 0;
}

nav a {
  text-decoration: none;
  color: #2E2424;
}

.space {
  letter-spacing: 1px;
}
