html {
  background-image: url("../img/visuel-background.jpg");
  background-size: 80%;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: #e2d5b8;
  border: 3px dashed #b2682f;
}

img {
  display: block;
  max-width: 100%;
}

header {
  color: #ffffff;
}

header h1 {
  text-align: right;
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
  margin: 10px 15px 10px 0;
}

header h2 {
  text-align: right;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  margin: 10px 15px 10px 0;
  color: #b2682f;
}

header p {
  font-family: 'Spectral', serif;
  font-size: 15px;
  margin: 10px 0 10px 15px;
}

main h3 {
  font-family: 'Amatic SC', cursive;
  text-align: right;
  font-size: 50px;
  color: #ffffff;
  margin: 15px 15px 15px 0;
}

main nav {
  font-family: 'Spectral', serif;
  font-size: 15px;
  color: #ffffff;
  background-color: #735b4d;
  border-radius: 0 40px 40px 40px;
  padding: 15px 0;
  margin: 0 15px 15px;
}

main nav a {
  color:#ffffff;
}

main nav a:hover {
  color: #b2682f;
}

div {
  background-color: #735b4d;
  color: #ffffff;
  border-radius: 0 40px 40px 40px;
  margin: 0 15px 0 15px;
}

div ul {
  font-family: 'Spectral', serif;
  font-size: 15px;
  text-align: left;
  padding-bottom: 15px;
  margin: 5px 15px 15px;
}

div p {
  padding-bottom: 25px;
  margin: 5px 15px 15px;
}

main div {
  padding-top: 40px;
}

div h4 {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  margin-top: -15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

footer h3 {
  font-family: 'Amatic SC', cursive;
  text-align: right;
  font-size: 50px;
  color: #ffffff;
  margin: 15px 15px 15px 0;
}

footer nav {
  font-family: 'Spectral', serif;
  font-size: 15px;
  text-align: center;
  background-color: #735b4d;
  border-radius: 0 30px 30px 30px;
  margin: 0 15px 15px 15px;
  padding: 10px 0;
}

footer nav a {
  color: #ffffff;
}

footer nav a:hover {
  color: #b2682f;
}